<section class="row" >
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
    <form class="signin form-horizontal" name="myForm">
      <fieldset>
     <!--  <div class="demo-card-image mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="demo-card-image__filename">Image.jpg</span>
        </div>
      </div> -->
        <div class="form-group text-center">
          <img alt="{{user().name + ' '+ user().lastname}}" class="img-thumbnail user-profile-picture" ngf-thumbnail="imageFile || user().profileImageURL">
        </div>
        <div class="text-center form-group" ng-hide="myForm.file.$valid">
          <span class="btn btn-default btn-file">
              Seleccionar Imagen <input type="file" ngf-select ng-model="imageFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFiles">
          </span>
        </div>
        <div class="text-center form-group" ng-show="myForm.file.$valid">
          <button class="btn btn-primary" ng-click="uploadImage(imageFile)">subir</button>
          <button class="btn btn-default" ng-click="removeImage()">cancelar</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="errorMsg" class="text-center text-danger">
          <strong >{{errorMsg}}</strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
